*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    font-size: 1.6rem;
}
.header{
    width: 100vw;
    height: 11vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.lista{
    display: flex;
    flex-direction:row
}


.lista li a{
    font-size: 0.7rem;
    padding-left: 0.3rem;
    color: rgba(0,0,0,.87);
}
.header__lista--item{
    text-align: center;
    border: none;
    padding-top: 0.3rem ;
    margin-left: 00.6rem;
    border-radius: 50%;
}
.header__lista--item:hover{
    background-color: rgb(73, 73, 73);
}
.lista img{
    width: 0.7rem;
    height: 0.7rem;
    cursor: pointer;
    color:rgba(0,0,0,.87);
    display: block;
}

.lista:last-child{
    padding-right: 0.5rem;
}

.user{
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 0.8rem;
    cursor: pointer;
}
.header__lista--user{
    border-radius: 50%;
    border: 2px black solid;
}

/*----------------header fin--------*/

.titulo{
    width: 100vw;
    text-align: center ;
}